extends layouts/head.pug 

block script
  script(src="/scripts/script.js" defer)

block main
  nav
    ul
      each album, i in albums
        li 
          a(href="/albums/" + album)= album
  main.index
    aside
      button(disabled) Weergave
    if album != undefined
      h2=album
    section.normal
      each picture, i in pictures
        div(class="card "+picture.album)
          a(href="/foto/"+picture.id)
            img(src=picture.path alt=picture.description)
            p= picture.description
    section.carousel.hide
      each picture, i in pictures
        a(href="#"+picture.id)=i+1
      .slides
        each picture, i in pictures
          div(class="card "+picture.album id=picture.id)
            a(href="/foto/"+picture.id)
              img(src=picture.path alt=picture.description) 
        

  a.uploaden(href="/uploaden") Uploaden


