extends layouts/head.pug 

block main
  nav
    ul
      each album, i in albums
        li 
          a(href="/albums/" + album)= album
  main
    if album != undefined
      h2=album
    each picture, i in pictures
      div.card
        a(href="/foto/"+picture.id)
          img(src=picture.path alt=picture.description)
          p= picture.description
    a(href="/uploaden") Uploaden


