extends layouts/head.pug 

block main
  nav
    ul
      each album, i in albums
        li 
          a(href="/albums/" + album)= album
  main.index
    if album != undefined
      h2=album
    section.pictures
      each picture, i in pictures
        div(class="card "+picture.album)
          a(href="/foto/"+picture.id)
            img(src=picture.path alt=picture.description)
            p= picture.description
  a.uploaden(href="/uploaden") Uploaden


