extends layouts/head.pug 

block main
  h2= picture.description
  img(src=picture.path alt=picture.description)
  p.fotograaf= picture.photographer
  p.uploader= picture.uploader
  p.beschrijving= picture.descriptionLong
  p.album= picture.album
  p.locatie= picture.location